<div class="container">
    <h2 style="text-align: center;color: blue;">!!SIGN UP!!</h2><br>

     <form [formGroup]="singup" (ngSubmit)="SubmitSignUpForm()">

    <div class="form-group row">
      <label class="control-label col-sm-2">Email address</label>
      <input type="email" class="form-control" formControlName="name" placeholder="Enter email">
   </div>

    <div class="form-group row">
      <label class="control-label col-sm-2">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    

    <div class="form-group row">
      <label class="control-label col-sm-2">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
 
</form>
</div>
<br>
<button style="margin-left: 570px;" (click)="showDetails()" type="button" class="btn btn-primary">Fetch The details</button>
<div *ngIf="isDetailShow">
    <h4 style="color: blueviolet;font-size: 45px;text-align: center;">email : {{ email }}</h4>
    <h4 style="color: blueviolet;font-size: 45px;text-align: center;">password : {{ password }}</h4>
    <h4 style="color: blueviolet;font-size: 45px;text-align: center;">confirmpassword : {{ confirmpassword }}</h4>
</div>